
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(759px at 14% 22.3%, rgb(25, 29, 31) 0%, rgb(6, 83, 51) 90%);
    color: white; 
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2A2F33;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
}

.navbar a.active, .navbar a:hover {
    background-color: #4B5B5A;
}


.about-section, .mission-section, .team-section {
    padding: 20px;
    margin: 20px;
    background-color: #324851; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.about-section h1, .mission-section h2, .team-section h2 {
    color: #07A792; 
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    width: 200px;
}

.team-member img {
    border-radius: 50%; 
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 5px 0;
}

.team-member p {
    font-style: italic;
}

@media (max-width: 600px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }
}

.search-form-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #4B5B5A; 
    width: fit-content; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center; 
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"],
.search-form button {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #D1E8E2; 
    background-color: #ffffff; 
    color: white; 
}

.search-form button {
    background-color: #07A792; 
    color: white; 
    cursor: pointer;
}

.search-form button:hover {
    background-color: #058C7A; 
    color: white; 
}

